<!DOCTYPE html>
<html lang="en">

{{ template "HeaderContent" . }}

<body>

    {{ template "NavbarContent" . }}

    <main id="main">
        {{ template "SmallHead" . }}

        <!-- ======= Recent Blog Posts Section ======= -->
        <section id="modules" class="contact">
            {{ range $row := .Rows }}
            <div class="row">
                {{range $element := $row.Modules}}
                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">
                        <div class="container">
                            <div class="module-box">
                                <div class="module-img"><img src="{{$element.Logo}}" class="img-fluid" alt=""></div>
                                <div class="meta">
                                    <span class="module-state">В процессе</span>
                                </div>
                                <h3 class="post-title">{{$element.Name}}</h3>
                                <p>{{$element.Description}}</p>
                                <a href="module?id={{$element.Id}}" class="readmore stretched-link"><span>Открыть</span><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
            {{ end }}
        </section>
        <!-- End Recent Blog Posts Section -->

    </main>
    <!-- End #main -->

    {{ template "FooterContent" . }}

</body>

</html>