<!DOCTYPE html>
<html lang="en">


{{ template "HeaderContent" . }}

<body>

    {{ template "NavbarContent" . }}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ .Module.Name }}</h2>
                    <ol>
                        <li><a href="/lk">Домой</a></li>
                        <li>{{ .Module.Name }}</li>
                    </ol>
                </div>

            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="module" class="module">
            <div class="container" data-aos="fade-up">

                <div class="col-lg-8">
                    <div class="module-info">
                        <ul>
                            <li><strong>Описание</strong>: {{ .Module.Description }}</li>
                            <li><strong>Тэги</strong>: {{ range $t := .Module.Tags}} <span class="badge bg-info">{{ $t }}</span> {{ end }}</li>
                            <li><strong>Открыт</strong>: {{ .OpenedAt }} </li>
                            {{ if .Completed }}
                            <li><strong>Завершен</strong>: {{ .CompletedAt }} </li> {{ end}}
                            <li><a class="btn btn-success" href="/testing?id={{ .Module.Id }}">Пройти тест</a></li>
                        </ul>
                    </div>
                    <div class="module-description">
                        {{ range $p := .Data}}{{ $p.Data }}
                        <p></p>
                        <div id="comments-for-part-{{ $p.Id}}">
                            {{ range $c := $p.Comments }}
                            <div id="{{ $c.Id }}" class="card border-0 mb-3">
                                <div class="card-header bg-transparent">
                                    <label class="text-muted fs-6">Последнее обновление: </label>
                                    <label id="last-update-time_{{ $c.Id }}" class="text-muted fs-6 ms-1">{{ $c.ModifiedAt }}</label>
                                    <button id="delete-comment_{{ $c.Id }}" class="btn-delete-comment badge badge-warning bg-warning ms-2 float-sm-end border-0">Удалить</button>
                                    <button id="update-comment_{{ $c.Id }}" class="btn-update-comment badge badge-info bg-info badge-pill ms-2 float-sm-end border-0" onclick="makeCommentEditable('{{$c.Id}}')">Изменить</button>
                                </div>
                                <div id="text-{{ $c.Id }}" class="multiline-card card card-body bg-light">{{ $c.Text }}</div>
                            </div>
                            {{ end }}
                        </div>
                        <p></p>
                        <div class="collapse" id="addCommentToPart{{ $p.Id}}">
                            <form action="comment" method="post" role="form" class="new-comment-form" id="new-comment-form-for-{{ $p.Id}}">
                                <div class="mb-3">
                                    <input type="hidden" name="part_id" value="{{ $p.Id}}">
                                    <input type="hidden" name="module_id" value="{{ $p.ModuleId}}">
                                    <label for="textForNewComment{{ $p.Id}}" class="form-label">Комментарий</label>
                                    <textarea class="form-control" aria-label="text" name="text" id="textForNewComment{{ $p.Id}}" maxlength="10000" placeholder="Максимум 10000 символов"></textarea>
                                </div>
                                <button type="submit" id="submit-{{ $p.Id}}" class="btn btn-success btn-submit-comment" data-bs-toggle="collapse" data-bs-target="#addCommentToPart{{ $p.Id}}" aria-expanded="false" aria-controls="addCommentToPart{{ $p.Id}}">Отправить</button>
                            </form>
                            <p></p>
                        </div>

                        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#addCommentToPart{{ $p.Id}}" aria-expanded="false" aria-controls="addCommentToPart{{ $p.Id}}">
                                Добавить комментарий
                            </button>
                        <p></p>{{ end }}
                    </div>
                </div>
        </section>
        <!-- End Portfolio Details Section -->
        <script>
        </script>
    </main>
    <!-- End #main -->
    <script src="assets/js/comments.js"></script>
    {{ template "FooterContent" . }}

</body>

</html>