<!DOCTYPE html>
<html lang="en">


{{ template "HeaderContent" . }}

<body>

    {{ template "NavbarContent" . }}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ .Module.Name }}</h2>
                    <ol>
                        <li><a href="/lk">Домой</a></li>
                        <li>{{ .Module.Name }}</li>
                    </ol>
                </div>

            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="module" class="module">
            <div class="container" data-aos="fade-up">

                <div class="col-lg-8">
                    <div class="module-info">
                        <ul>
                            <li><strong>Описание</strong>: {{ .Module.Description }}</li>
                            <li><strong>Тэги</strong>: {{ range $t := .Module.Tags}} <span class="badge bg-info">{{ $t }}</span> {{ end }}</li>
                            <li><strong>Project date</strong>: 01 March, 2020</li>
                            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="module-description"></div>
                    {{ range $p := .Data}} {{ $p }} {{ end}}
                </div>
            </div>

            </div>
        </section>
        <!-- End Portfolio Details Section -->

    </main>
    <!-- End #main -->

    {{ template "FooterContent" . }}

</body>

</html>