{{ define "TestingNavbarContent"}}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a id="testing-logo" href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0 vilisble">
            <h1>itPath69<span>.</span></h1>
        </a>
        <button id="testing-check-btn" class="btn btn-warning invisible">Завершить</button>
        <div id="testing-answers-counter" class="logo invisible">0/0</div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Главная</a></li>
                <li><a class="nav-link scrollto" href="/#about">О сайте</a></li>
                {{if .Username}}
                <li>
                    <a class="nav-link scrollto" onclick="document.getElementById('logout-form').submit();">Выйти</a>
                </li> {{else}}
                <li><a class="nav-link" href="/login">Войти</a></li> {{end}}
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav>
        <!-- .navbar -->
        {{if .Username}}
        <a class="btn-getstarted" href="/lk">Личный кабинет</a> {{else}}
        <a class="btn-getstarted" href="/#register">Регистрация</a> {{end}}

    </div>
    <form role="form" method="POST" action="/user/logout" id="logout-form"></form>
</header>
<!-- End Header -->

{{ end }}