<!DOCTYPE html>
<html lang="en">

{{ template "HeaderContent" . }}

<body>

    {{ template "TestingNavbarContent" . }} {{ template "TestingFullScreenHead" . }}

    <main id="testing" class="d-none">
        <section>
            <div id="testing-carousel" class="carousel carousel-dark slide" data-bs-interval="false">
                <div id="slides-indicators" class="carousel-indicators">
                    <!-- will be fulfilled via JS -->
                </div>
                <div id="testing-inner" class="carousel-inner">
                    <!-- will be fulfilled via JS -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#testing-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testing-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </section>
    </main>
    <!-- End #main -->
    <script src="assets/js/testing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
    {{ template "FooterContent" . }}

</body>

</html>